
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    /* background-position: left right; */
    /* padding: 0 5%; */
    /* position: absolute;
    top: 0; */
}

a{
    text-decoration: none;
}

.container{
    background-color: white;
    /* padding: 0 5%; */
    position: relative;
    z-index: 1;
    /* margin-bottom: 1000px; */
}